<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="mainBar :: head">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title th:utext="#{menu.admin}"></title>
</head>
<body>
<nav th:replace="mainBar :: nav"></nav>
<h1 th:utext="#{menu.admin}"></h1>

<div class="d-flex justify-content-center">
    <input type="text" id="searchExpression"/>
    <button type="button" class="btn btn-primary ml-1" onclick="searchUser()" th:utext="#{usersList.button.search}"></button>
</div>


<div class="d-flex justify-content-center">
    <div class="w-75 p-3">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col" th:utext="#{register.firstName}"></th>
                <th scope="col" th:utext="#{register.lastName}"></th>
                <th scope="col" th:utext="#{register.email}"></th>
                <th scope="col" th:utext="#{register.accountType}"></th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="user:${users}">
                <tr>
                    <td th:utext="${user.id}"></td>
                    <td th:utext="${user.firstName}"></td>
                    <td th:utext="${user.lastName}"></td>
                    <td th:utext="${user.email}"></td>
                    <div th:switch="${user.roleNumber}">
                        <td th:case="1" th:utext="#{roles.admin}"></td>
                        <td th:case="2" th:utext="#{roles.regular}"></td>
                        <td th:case="3" th:utext="#{roles.worker}"></td>
                    </div>
                    <td>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" th:data-id="${user.id}">Change Role</button>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</div>
<div class="d-flex justify-content-center">
    <div th:if="${currentPage > 1}">
        <a id="prevButton" class="btn btn-primary" th:href="@{/admin/usersList/{page}(page=${currentPage - 1})}" th:utext="#{usersList.previous}"/>
    </div>
    <div th:if="${currentPage < totalPages}">
        <a id="nextButton" class="btn btn-primary ml-1" th:href="@{/admin/usersList/{page}(page=${currentPage + 1})}" th:utext="#{usersList.next}"/>
    </div>
</div>
<div class="d-flex justify-content-center">
    <p th:utext="${'Page '+currentPage+' of '+totalPages}" style="color: blue;"></p>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form th:action="@{/admin/usersList/changeRole}" method="post">
                    <input id="idContainer" type="hidden" name="userId" value="">

                        <select name="roleId">
                            <option th:each="role : ${roles}"
                                    th:value="${role.getKey()}"
                                    th:utext="${role.getValue()}"/>
                        </select>
                    <button type="submit" class="btn btn-primary" th:utext="#{button.roles.change}"></button>
                </form>

            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>

<script>

    $('#exampleModal').on('show.bs.modal', function (e) {
        document.getElementById('idContainer').value = $(e.relatedTarget).data('id');
    })

    function searchUser() {
        var searchExpression = document.getElementById('searchExpression').value;
        window.location.href = '/admin/usersList/search/' + searchExpression;
    }
</script>

</body>
</html>