<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" xmlns="http://www.w3.org/1999/html">
<head th:replace="mainBar :: head">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title th:utext="#{menu.mainPage}"></title>
</head>
<body>
    <nav th:replace="mainBar :: nav"></nav>
    <h1 th:utext="#{menu.mainPage}"></h1>

    <div class=" d-flex justify-content-center" th:each="news:${newsList}">
        <div class="card mt-2" style="width: 50rem;">
            <div class="card-body">
                <a th:href="@{'/news/' + ${news.id}}"><h5 class="card-title" th:utext="${news.title}"></h5></a>
                <p class="card-text" th:utext="${news.content}"></p>
                <ul class="list-group list-group-flush" style="text-align: right">
                    <li class="list-group-item" th:utext="#{news.creationDate}+${news.creationDate}" style="color : gray"></li>
                </ul>
            </div>
        </div>
    </div>


    <script>
        $(".card-text").each(function () {
            var text = $(this).text();
            if(text.length > 200)
                $(this).html(text.substr(0, 197) + '...')
        })
    </script>
</body>
</html>