<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" xmlns="http://www.w3.org/1999/html">
<head th:replace="mainBar :: head">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title th:utext="#{menu.mainPage}"></title>
</head>
<body>
    <nav th:replace="mainBar :: nav"></nav>
    <h1 th:utext="#{menu.mainPage}"></h1>
</body>
</html>