<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" xmlns="http://www.w3.org/1999/html">
<head th:replace="mainBar :: head">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title th:utext="#{menu.profile}"></title>
</head>
<body>
<nav th:replace="mainBar :: nav"></nav>
<h1 th:utext="#{menu.news}"></h1>

<div class="d-flex justify-content-center">
    <div class="d-flex flex-column" style="text-align: center" th:object="${news}">
        <div class="card mt-2">
            <div class="card-body">
                <h2 th:utext="${news.title}"></h2>
                <p th:utext="${news.content}"></p>
                <p th:utext="#{news.creationDate} + ${news.creationDate}" style="color: gray; font-weight: lighter"></p>
            </div>
        </div>
    </div>
</div>



</body>
</html>